@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kristi&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

.custom-size-title-h1 {
    font-size: 6rem;
}

.custom-sub-title-h1 {
    font-size: 2.5rem;
}


.section-one {
    margin: 0;
    padding: 0;
    background-image: url('/img/BANNER HOME.jpg');
    /* Substitua pelo caminho da sua imagem */
    background-size: cover;
    background-position: center;
    color: #fff;
    background-attachment: fixed;
}

.section-tree {
    margin: 0;
    padding: 0;
    background-image: url('/img/banner_desk.jpg');
    /* Substitua pelo caminho da sua imagem */
    background-size: cover;
    background-position: contain;
    background-repeat: no-repeat;
    color: #fff;
    /* background-attachment: fixed; */
    height: 100%;
}

a.style-none {
    color: inherit;
    text-decoration: inherit;
}

.kristi {
    font-family: 'Kristi', cursive;
}

.image-container {
    width: 100%;
    height: 450px;
    position: relative;
    overflow: hidden;
    background-position: 0% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-image: url('/img/perssona1.jpg'); */
    border-radius: 20px;
}


.icons-size {
    width: 100px;
    height: 100px;
}

.title-blue {
    font-size: 2rem;
    letter-spacing: 1px;
    font-weight: 900;
    color: #017dc3;
    text-transform: uppercase;
}

.custom-section-one {
    width: 50%;
}



/* Estilos para telas extra pequenas (extra small) */
@media (max-width: 575.98px) {

    /* Adicione seus estilos para telas extra pequenas aqui */
    .custom-size-title-h1 {
        font-size: 3rem;
    }

    .custom-section-one {
        width: 100%;
    }

    .section-one {
        background-position: 0% 50%;
    }

    .custom-qr-code {
        flex-direction: column;
    }

    .section-tree {
        background: #b0b0b028;
    }
}

/* Estilos para telas pequenas (small) */
@media (min-width: 576px) and (max-width: 767.98px) {

    /* Adicione seus estilos para telas pequenas aqui */
    .custom-size-title-h1 {
        font-size: 3rem;
    }

    .custom-section-one {
        width: 100%;
    }

    .section-one {
        background-position: 0% 50%;
    }

    .custom-qr-code {
        flex-direction: column;
    }

    .section-tree {
        background: #b0b0b028;
    }
}

/* Estilos para telas médias (medium) */
@media (min-width: 768px) and (max-width: 991.98px) {

    /* Adicione seus estilos para telas médias aqui */
    .custom-qr-code {
        flex-direction: column;
    }

    .section-tree {
        background: #b0b0b028;
    }
}

/* Estilos para telas grandes (large) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    /* Adicione seus estilos para telas grandes aqui */
}

/* Estilos para telas extra grandes (extra large) */
@media (min-width: 1200px) {
    /* Adicione seus estilos para telas extra grandes aqui */
}